[Desktop Entry]
NoDisplay=true
Version=1.0
Encoding=UTF-8
Type=X-XFCE-Helper
X-XFCE-Category=TerminalEmulator
X-XFCE-CommandsWithParameter=/usr/bin/mrxvt "%s"
Icon=mrxvt
Name=mrxvt
X-XFCE-Commands=/usr/bin/mrxvt
