[Desktop Entry]
Comment=Solaris/OpenSolaris Developer Documentation
Exec=/usr/bin/firefox /usr/share/osoldocs/index.html
GenericName=
Icon=gnome-info.png
Name=OpenSolaris Docs
Path=
StartupNotify=false
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
