[Desktop Entry]
Comment=
Comment[en_US]=
Encoding=UTF-8
Exec=/usr/bin/dttdocviewer
GenericName=DTrace Tookit Doc Viewer
GenericName[en_US]=DTrace Tookit Doc Viewer
Icon=package_utilities
MimeType=
Name=DTrace Toolkit Docs
Name[en_US]=DTrace Toolkit Docs
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
