[Desktop Entry]
Name=Java
Comment=Java Control Panel
Exec=/usr/jdk/instances/latest/jre/bin/ControlPanel
Icon=/usr/jdk/instances/latest/jre/plugin/desktop/sun_java.png
Terminal=0
Type=Application
Categories=Application;Settings;X-Sun-Supported;X-Red-Hat-Base;
