[Desktop Entry]
Comment=Reboot the Computer
Comment[en_US]=Reboot the Computer
Exec=pfexec /usr/sbin/reboot
GenericName=
GenericName[en_US]=
Icon=/usr/share/icons/crystalsvg/48x48/actions/exit.png
MimeType=
Name=Reboot
Name[en_US]=Reboot
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
TryExec=pfexec /usr/sbin/reboot
Type=Application
Version=1.0
X-DCOP-ServiceType=
X-GNOME-DocPath=
X-KDE-SubstituteUID=false
X-KDE-Username=
